.column{
   flex:1 0 0;
   position: relative;
}

.figure{
   background-color: var(--SoftRed);
   border-radius: 4px;
   transition: all 0.2s ease;
   cursor: pointer;
}
.figure:hover{
   opacity: 0.7;
}

.text{
   margin-top: 12px;
   color: var(--MediumBrown);
   font-size: 12px;
   text-align: center;
}

.popup{
   font-size: 16px;
   font-weight: 700;
   background-color: var(--DarkBrown);
   color: var(--VeryPaleOrange);
   padding: 5px;
   border-radius: 3px;
   position: absolute;
   top:-50px;
   left: 50%;
   transform: translateX(-50%);
}